.inp
  box-sizing border-box
  background $cWhite
  // background #000
  box-shadow none
  outline none
  width 355px
  height 40px
  display block
  padding-left 15px
  font-size 20px
  color $cBlack
  border 2px solid $cWhite
  border-radius 0
  -webkit-appearance none
  transition-property background-color border-color
  transition-duration 0.4s
  font-family $fFutura

.inp::placeholder
  opacity 1
  color #747474
  font-family $fFutura

.inp:focus::placeholder
  opacity 0

.inp.error
  border 2px solid #ff0000 !important


