div(id="privace").popup.popup-terms

    h2 ПОЛОЖЕНИЕ ОБ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ
    h3 1. ОБЩИЕ ПОЛОЖЕНИЯ

    p Положение об&nbsp;обработке персональных данных (далее&nbsp;&mdash; &laquo;Положение&raquo;, &laquo;Настоящее Положение&raquo;) издано и&nbsp;применяется ООО &laquo;ДНК Бизнеса&raquo; (далее&nbsp;&mdash; &laquo;Оператор&raquo;) в&nbsp;соответствии с&nbsp;п.&nbsp;2&nbsp;ч.&nbsp;1&nbsp;ст.&nbsp;18.1 Федерального закона от&nbsp;27.07.2006&nbsp;N 152-ФЗ &laquo;О&nbsp;персональных данных&raquo;.
    p Настоящее Положение является официальным документом Общества с&nbsp;ограниченной ответственностью &laquo;ЛПГенератор&raquo; (ИНН/КПП: 7706092528/775043002), расположенного по&nbsp;адресу: Москва, ул. Забелина, д1А и&nbsp;определяет порядок обработки и&nbsp;защиты (реализуемые требования к&nbsp;защите) персональных данных физических лиц, пользующихся услугами Сервиса DNK.bz, находящегося по&nbsp;сетевому адресу: system.DNK.bz (далее&nbsp;&mdash; &laquo;Сайт&raquo;, &laquo;Сервис&raquo;) и&nbsp;его сервисов (далее&nbsp;&mdash; Пользователи).
    p Настоящее Положение определяет политику, порядок и&nbsp;условия Оператора в&nbsp;отношении обработки персональных данных, устанавливает процедуры, направленные на&nbsp;предотвращение и&nbsp;выявление нарушений законодательства Российской Федерации, устранение последствий таких нарушений, связанных с&nbsp;обработкой персональных данных.
    p Целью настоящего Положения является обеспечение надлежащей защиты информации о&nbsp;пользователях, в&nbsp;том числе их&nbsp;персональных данных, от&nbsp;несанкционированного доступа и&nbsp;разглашения.
    p Отношения, связанные со&nbsp;сбором, хранением, распространением и&nbsp;защитой информации о&nbsp;пользователях Сервиса, регулируются настоящим Положением, иными официальными документами Оператора и&nbsp;действующим законодательством Российской Федерации.
    p Действующая редакция настоящего Положения, являющегося публичным документом, опубликована и&nbsp;доступна любому пользователю сети Интернет в&nbsp;форме неограниченного доступа при переходе по&nbsp;ссылке:
        =" "
        a(href="http://system.dnk.bz/#privacy") //system.dnk.bz/#privacy
        ="."
    p Оператор вправе вносить изменения в&nbsp;настоящее Положение. При внесении изменений в&nbsp;Положение Оператор уведомляет об&nbsp;этом пользователей путем размещения (публикации) новой редакции Положения на&nbsp;Сайте по&nbsp;постоянному адресу
        =" "
        a(href="http://system.dnk.bz/#privacy") //system.dnk.bz/#privacy
        =" "
        =" не позднее, чем за 10 дней до вступления в силу соответствующих изменений. Предыдущие редакции Положения хранятся в архиве документации Оператора."
    p Настоящее Положение разработано и&nbsp;используется в&nbsp;соответствии с&nbsp;Правилами пользования сервисом DNK.bz, размещенными на&nbsp;Сайте по&nbsp;адресу
        =" "
        a(href="http://system.dnk.bz/#terms") //system.dnk.bz/#terms
        =". В случае наличия противоречий между настоящим Положением и иными официальными документами Оператора применению подлежит настоящее Положение."
    p Регистрируясь и&nbsp;используя Сервис, Пользователь выражает свое безусловное согласие с&nbsp;условиями настоящего Положения.
    p В&nbsp;случае несогласия Пользователя с&nbsp;условиями настоящего Положения использование Сайта и&nbsp;его сервисов должно быть немедленно прекращено.
    p Все вопросы, связанные с&nbsp;обработкой персональных данных, не&nbsp;урегулированные настоящим Положением, разрешаются в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации в&nbsp;области персональных данных.

    h3 2. ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ

    p Обработка персональных данных осуществляется с&nbsp;соблюдением принципов и&nbsp;правил, предусмотренных Федеральным законом от&nbsp;27.07.2006&nbsp;N 152-ФЗ &laquo;О&nbsp;персональных данных&raquo; и&nbsp;настоящим Положением.
    p Оператор осуществляет обработку информации о&nbsp;Пользователях, в&nbsp;том числе их&nbsp;персональных данных, в&nbsp;целях выполнения обязательств Оператора перед Пользователями в&nbsp;отношении использования Сайта и&nbsp;его сервисов.
    p Оператор осуществляет обработку персональных данных Пользователей в&nbsp;целях исполнения договора между Оператором и&nbsp;Пользователем на&nbsp;оказание Услуг Сайта (п.&nbsp;2.2 Правил пользования сервисом DNK.bz
        =" "
        a(href="http://system.dnk.bz/#terms") //system.dnk.bz/#terms
        ="). В силу п.п. 2 п. 2 статьи 22 указанного закона Оператор вправе осуществлять обработку персональных данных без уведомления уполномоченного органа по защите прав субъектов персональных данных."

    h3 3. ПРИНЦИПЫ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ

    p Обработка организована Оператором на принципах:
    ul
        li законности целей и&nbsp;способов обработки персональных данных, добросовестности и&nbsp;справедливости в&nbsp;деятельности Оператора;
        li достоверности персональных данных, их&nbsp;достаточности для целей обработки, недопустимости обработки персональных данных, избыточных по&nbsp;отношению к&nbsp;целям, заявленным при сборе персональных данных;
        li обработки только персональных данных, которые отвечают целям их&nbsp;обработки;
        li соответствия содержания и&nbsp;объема обрабатываемых персональных данных заявленным целям обработки. Обрабатываемые персональные данные не&nbsp;должны быть избыточными по&nbsp;отношению к&nbsp;заявленным целям их&nbsp;обработки;
        li недопустимости объединения баз данных, содержащих персональные данные, обработка которых осуществляется в&nbsp;целях, не&nbsp;совместимых между собой;
        li обеспечения точности персональных данных, их&nbsp;достаточности, а&nbsp;в&nbsp;необходимых случаях и&nbsp;актуальности по&nbsp;отношению к&nbsp;целям обработки персональных данных. Оператор принимает необходимые меры либо обеспечивает их&nbsp;принятие по&nbsp;удалению или уточнению неполных или неточных данных;
        li хранения персональных данных в&nbsp;форме, позволяющей определить субъекта персональных данных, не&nbsp;дольше, чем этого требуют цели обработки персональных данных.

    h3 4. СОСТАВ ПЕРСОНАЛЬНЫХ ДАННЫХ

    p 4.1. Персональные данные Пользователей включают в&nbsp;себя:
    ol
        li
            p предоставляемые Пользователями и&nbsp;минимально необходимые для регистрации на&nbsp;Сайте: имя, номер мобильного телефона, род деятельности применительно к&nbsp;использованию Сайта и&nbsp;адрес электронной почты;
        li
            p дополнительно предоставляемые Пользователями по&nbsp;запросу Оператора в&nbsp;целях исполнения Оператором обязательств перед Пользователями, вытекающих из&nbsp;договора на&nbsp;оказание Услуг Сайта. Оператор вправе, в&nbsp;частности, запросить у&nbsp;Пользователя копию документа, удостоверяющего личность, либо иного документа, содержащего имя, фамилию, фотографию Пользователя, а&nbsp;также иную дополнительную информацию, которая, по&nbsp;усмотрению Оператора, будет являться необходимой и&nbsp;достаточной для идентификации такого Пользователя и&nbsp;позволит исключить злоупотребления и&nbsp;нарушения прав третьих лиц.
    p 4.2. Иная информация о&nbsp;Пользователях, обрабатываемая Оператором. Оператор может также обрабатывать иную информацию о&nbsp;Пользователях, которая включает в&nbsp;себя:
    p 4.2.1. дополнительные данные, получаемые при доступе к&nbsp;Сайту, включающие в&nbsp;себя данные о&nbsp;технических средствах (устройствах), технологическом взаимодействии с&nbsp;Сайтом (в&nbsp;т.ч. IP-адрес хоста, вид операционной системы пользователя, тип браузера, географическое положение, поставщик услуг Интернета) и&nbsp;последующих действиях Пользователя на&nbsp;Сайте.
    p 4.2.2. информация, полученная в&nbsp;результате действий Пользователя на&nbsp;Сайте.

    h3 5. ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ

    p 5.1. Обработка персональных данных Пользователей осуществляется Оператором на&nbsp;основе принципов обработки персональных данных, установленных разделом 3&nbsp;настоящего Положения.
    p 5.2. Оператор осуществляет обработку персональных данных Пользователей в&nbsp;целях исполнения договора между Оператором и&nbsp;Пользователем на&nbsp;оказание Услуг Сайта (п.&nbsp;2.2 Правил пользования сервисом DNK.bz
        =" "
        a(href="http://system.dnk.bz/#terms") //system.dnk.bz/#terms
        ="В силу п.п. 2 п. 2 статьи 22 указанного закона Оператор вправе осуществлять обработку персональных данных без уведомления уполномоченного органа по защите прав субъектов персональных данных."
    p 5.3. Условия обработки персональный данных Оператором.
    p 5.3.1. Обработка персональных данных осуществляется с&nbsp;согласия субъекта персональных данных (Пользователя) на&nbsp;обработку его персональных данных, выдаваемого Пользователем Оператору на&nbsp;условиях настоящего положения. Субъект персональных данных принимает решение о&nbsp;предоставлении его персональных данных и&nbsp;дает согласие на&nbsp;их&nbsp;обработку Оператору свободно, своей волей и&nbsp;в&nbsp;своем интересе путем совершения Пользователем следующих конклюдентных действий: проставление символа в&nbsp;специальном поле под заголовком &laquo;Я&nbsp;согласен на&nbsp;обработку своих персональных данных&raquo; в&nbsp;каждой регистрационной форме, расположенной в&nbsp;Сети &laquo;Интернет&raquo; по&nbsp;сетевому адресу: //dnk.bz/, в&nbsp;том числе, но&nbsp;не&nbsp;ограничиваясь: по&nbsp;факту регистрации на&nbsp;Сайте в&nbsp;регистрационной форме по&nbsp;сетевому адресу:
        =" "
        a(href="http://system.dnk.bz/") //system.dnk.bz/
        =". Совершение Пользователем названных конклюдентных действий свидетельствует о том, что согласие Пользователя на обработку его персональных данных является конкретным, информированным и сознательным. Согласие на обработку персональных данных может быть отозвано субъектом персональных данных (Пользователем) в любое время путем направления Пользователем соответствующего извещения в адрес Оператора на адрес электронной почты: support@dnk.bz."
    p 5.3.2. Сбор персональных данных.
    p Сбор персональных данных Пользователя осуществляется на&nbsp;Сайте при регистрации, а&nbsp;также в&nbsp;дальнейшем при внесении пользователем по&nbsp;своей инициативе дополнительных сведений о&nbsp;себе с&nbsp;помощью инструментария Сайта. Персональные данные, предусмотренные&nbsp;п.&nbsp;4.1.1. настоящего Положения, предоставляются Пользователем и&nbsp;являются минимально необходимыми при регистрации. Персональные данные, предусмотренные&nbsp;п.&nbsp;4.1.2. настоящего Приложения, являются дополнительно предоставляемыми Пользователями сведениями по&nbsp;запросу Оператора в&nbsp;целях исполнения Оператором обязательств перед Пользователями, вытекающих из&nbsp;договора на&nbsp;оказание Услуг Сайта.
    p 5.3.3. Хранение и&nbsp;использование персональных данных. Персональные данные пользователей хранятся исключительно на&nbsp;электронных носителях и&nbsp;обрабатываются с&nbsp;использованием автоматизированных систем, за&nbsp;исключением случаев, когда неавтоматизированная обработка персональных данных необходима в&nbsp;связи с&nbsp;исполнением требований законодательства. При сборе персональных данных, в&nbsp;том числе посредством информационно-телекоммуникационной сети &laquo;Интернет&raquo;, Оператор обеспечивает запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение персональных данных Пользователей с&nbsp;использованием баз данных, находящихся на&nbsp;территории Российской Федерации.
    p 5.3.4. Передача персональных данных.
    p Персональные данные Пользователей не&nbsp;передаются каким-либо третьим лицам, за&nbsp;исключением случаев, прямо предусмотренных настоящим Положением.При указании пользователя или при наличии согласия пользователя возможна передача персональных данных пользователя третьим лицам-контрагентам Оператора с&nbsp;условием принятия такими контрагентами обязательств по&nbsp;обеспечению конфиденциальности полученной информации. Оператор на&nbsp;основании договора может поручить обработку персональных данных третьему лицу. Существенным условием такого договора является наличие права у&nbsp;данного лица на&nbsp;обработку персональных данных, обязанность обеспечения указанным лицом конфиденциальности персональных данных и&nbsp;безопасности персональных данных при их&nbsp;обработке.
    p Предоставление персональных данных Пользователей по&nbsp;запросу государственных органов (органов местного самоуправления) осуществляется в&nbsp;порядке, предусмотренном действующим законодательством РФ.В&nbsp;целях исполнения соглашения между Пользователем и&nbsp;Оператором и&nbsp;предоставления Пользователю доступа к&nbsp;использованию функционала Сервиса, Оператор развивает предоставляемые сервисы и&nbsp;продукты, разрабатывает и&nbsp;внедряет новые сервисы и&nbsp;продукты, оптимизирует качество сервисов и&nbsp;продуктов, совершенствует доступный функционал Сайта и&nbsp;сервисов. Для обеспечения реализации указанных целей Пользователь соглашается на&nbsp;осуществление Оператором с&nbsp;соблюдением применимого законодательства сбора, хранения, накопления, систематизации, извлечения, сопоставления, использования, наполнения (уточнения) их&nbsp;данных, а&nbsp;также на&nbsp;получение и&nbsp;передачу аффилированным лицам и&nbsp;партнерам результатов автоматизированной обработки таких данных с&nbsp;применением различных моделей оценки информации, в&nbsp;виде целочисленных и/или текстовых значений и&nbsp;идентификаторов, соответствующих заданным в&nbsp;запросах оценочным критериям, для обработки данных Оператором и/или лицами, указанными в&nbsp;настоящем пункте.
    p Взаимодействие с&nbsp;федеральными органами исполнительной власти по&nbsp;вопросам обработки и&nbsp;защиты персональных данных субъектов, персональные данные которых обрабатываются Оператором, осуществляется в&nbsp;рамках законодательства Российской Федерации.
    p Хранение персональных данных осуществляется Оператором в&nbsp;форме, позволяющей определить субъекта персональных данных, не&nbsp;дольше, чем этого требуют цели их&nbsp;обработки, и&nbsp;они подлежат уничтожению по&nbsp;достижении целей обработки или в&nbsp;случае утраты необходимости в&nbsp;их&nbsp;достижении в&nbsp;порядке, предусмотренном настоящим Положением порядке.
    p При обработке персональных данных Оператор применяет правовые, организационные и&nbsp;технические меры по&nbsp;обеспечению безопасности персональных данных в&nbsp;соответствии со&nbsp;ст.&nbsp;19&nbsp;Федерального закона от&nbsp;27.07.2006&nbsp;N 152-ФЗ &laquo;О&nbsp;персональных данных&raquo;.

    h3 6. ПОРЯДОК ОБЕСПЕЧЕНИЯ ОПЕРАТОРОМ ПРАВ СУБЪЕКТА ПЕРСОНАЛЬНЫХ ДАННЫХ/СВЕДЕНИЯ О&nbsp;РЕАЛИЗУЕМЫХ ТРЕБОВАНИЯХ К&nbsp;ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЕЙ

    p 6.1. Субъекты персональных данных или их&nbsp;представители обладают правами, предусмотренными Федеральным законом от&nbsp;27.07.2006&nbsp;N 152-ФЗ &laquo;О&nbsp;персональных данных&raquo; и&nbsp;другими нормативно-правовыми актами, регламентирующими обработку персональных данных.
    p 6.2. Оператор обеспечивает права субъектов персональных данных в&nbsp;порядке, установленном главами 3&nbsp;и&nbsp;4&nbsp;Федерального закона от&nbsp;27.07.2006&nbsp;N 152-ФЗ &laquo;О&nbsp;персональных данных&raquo;.
    p 6.3. Полномочия представителя на&nbsp;представление интересов каждого субъекта персональных данных подтверждаются доверенностью, оформленной в&nbsp;порядке&nbsp;ст.&nbsp;ст.&nbsp;185 и&nbsp;185.1 Гражданского кодекса Российской Федерации, ч.&nbsp;2&nbsp;ст.&nbsp;53&nbsp;Гражданского процессуального кодекса Российской Федерации или удостоверенной нотариально согласно&nbsp;ст.&nbsp;59&nbsp;Основ законодательства Российской Федерации о&nbsp;нотариате. Отсканированная копия доверенности представителя, хранится Оператором не&nbsp;менее трех лет, а&nbsp;в&nbsp;случае, если срок хранения персональных данных больше трех лет,&nbsp;&mdash; не&nbsp;менее срока хранения персональных данных.
    p 6.4. При обработке персональных данных Оператор применяет правовые, организационные и&nbsp;технические меры по&nbsp;обеспечению безопасности персональных данных в&nbsp;соответствии со&nbsp;ст.&nbsp;19&nbsp;Федерального закона от&nbsp;27.07.2006&nbsp;N 152-ФЗ &laquo;О&nbsp;персональных данных&raquo;. Под актуальными угрозами безопасности персональных данных понимается совокупность условий и&nbsp;факторов, создающих актуальную опасность несанкционированного, в&nbsp;том числе случайного, доступа к&nbsp;персональным данным при их&nbsp;обработке в&nbsp;информационной системе, результатом которого могут стать уничтожение, изменение, блокирование, копирование, предоставление, распространение персональных данных, а&nbsp;также иные неправомерные действия.
    p Оператор принимает технические и&nbsp;организационно-правовые меры в&nbsp;целях обеспечения защиты персональных данных Пользователя от&nbsp;неправомерного или случайного доступа к&nbsp;ним, уничтожения, изменения, блокирования, копирования, распространения, а&nbsp;также от&nbsp;иных неправомерных действий. Для авторизации доступа к&nbsp;Сервису используется логин (адрес электронной почты) и&nbsp;пароль Пользователя. Ответственность за&nbsp;сохранность данной информации несет Пользователь. Пользователь не&nbsp;вправе передавать собственный логин и&nbsp;пароль третьим лицам, а&nbsp;также обязан предпринимать меры по&nbsp;обеспечению их&nbsp;конфиденциальности.
    p 6.5. В&nbsp;целях обеспечения более надежной защиты персональных данных Пользователей, Оператор обеспечивает возможность использования Пользователями системы двухфакторной авторизации посредством мобильного приложения Google Authenticator, а&nbsp;также системы дополнительного списка паролей, подлежащие реализации Пользователями путем совершения следующих действий: подключение соответствующего способа защиты через инструменты управления учётной записью в&nbsp;личном кабинете Пользователя на&nbsp;Сайте.

    h3 7. ПРАВА ПОЛЬЗОВАТЕЛЯ (СУБЪЕКТА ПЕРСОНАЛЬНЫХ ДАННЫХ)

    p 7.1. На&nbsp;основании запроса, Пользователь имеет право в&nbsp;доступной форме получать от&nbsp;Оператора весь объем информации/сведений по&nbsp;существу обработки его персональных данных Оператором, как&nbsp;то:
    p 1) подтверждение факта обработки персональных данных оператором;
    p 2) правовые основания и&nbsp;цели обработки персональных данных;
    p 3) цели и&nbsp;применяемые оператором способы обработки персональных данных;
    p 4) наименование и&nbsp;место нахождения оператора, сведения о&nbsp;лицах (за&nbsp;исключением работников оператора), которые имеют доступ к&nbsp;персональным данным или которым могут быть раскрыты персональные данные на&nbsp;основании договора с&nbsp;оператором или на&nbsp;основании федерального закона;
    p 5) обрабатываемые персональные данные, относящиеся к&nbsp;соответствующему субъекту персональных данных, источник их&nbsp;получения, если иной порядок представления таких данных не&nbsp;предусмотрен федеральным законом;
    p 6) сроки обработки персональных данных, в&nbsp;том числе сроки их&nbsp;хранения;
    p 7) порядок осуществления субъектом персональных данных прав, предусмотренных настоящим Федеральным законом;
    p 8) информацию об&nbsp;осуществленной или о&nbsp;предполагаемой трансграничной передаче данных;
    p 9) наименование или фамилию, имя, отчество и&nbsp;адрес лица, осуществляющего обработку персональных данных по&nbsp;поручению оператора, если обработка поручена или будет поручена такому лицу;
    p 10) иные сведения, предусмотренные действующим законодательством&nbsp;РФ в&nbsp;области персональных данных.
    p Право субъекта персональных данных на&nbsp;доступ к&nbsp;его персональным данным может быть ограничено в&nbsp;соответствии с&nbsp;федеральными законами, в&nbsp;том числе если:
    p 1) обработка персональных данных, включая персональные данные, полученные в&nbsp;результате оперативно-разыскной, контрразведывательной и&nbsp;разведывательной деятельности, осуществляется в&nbsp;целях обороны страны, безопасности государства и&nbsp;охраны правопорядка;
    p 2) обработка персональных данных осуществляется органами, осуществившими задержание субъекта персональных данных по&nbsp;подозрению в&nbsp;совершении преступления, либо предъявившими субъекту персональных данных обвинение по&nbsp;уголовному делу, либо применившими к&nbsp;субъекту персональных данных меру пресечения до&nbsp;предъявления обвинения, за&nbsp;исключением предусмотренных уголовно-процессуальным законодательством Российской Федерации случаев, если допускается ознакомление подозреваемого или обвиняемого с&nbsp;такими персональными данными;
    p 3) обработка персональных данных осуществляется в&nbsp;соответствии с&nbsp;законодательством о&nbsp;противодействии легализации (отмыванию) доходов, полученных преступным путем, и&nbsp;финансированию терроризма;
    p 4) доступ субъекта персональных данных к&nbsp;его персональным данным нарушает права и&nbsp;законные интересы третьих лиц;
    p 5) обработка персональных данных осуществляется в&nbsp;случаях, предусмотренных законодательством Российской Федерации о&nbsp;транспортной безопасности, в&nbsp;целях обеспечения устойчивого и&nbsp;безопасного функционирования транспортного комплекса, защиты интересов личности, общества и&nbsp;государства в&nbsp;сфере транспортного комплекса от&nbsp;актов незаконного вмешательства.
    p 7.2. Пользователь Субъект персональных данных вправе требовать от&nbsp;оператора уточнения его персональных данных, их&nbsp;блокирования или уничтожения в&nbsp;случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не&nbsp;являются необходимыми для заявленной цели обработки, а&nbsp;также принимать предусмотренные законом меры по&nbsp;защите своих прав. В&nbsp;срок, не&nbsp;превышающий семи рабочих дней со&nbsp;дня предоставления субъектом персональных данных или его представителем сведений, подтверждающих, что персональные данные являются неполными, неточными или неактуальными, оператор обязан внести в&nbsp;них необходимые изменения. В&nbsp;срок, не&nbsp;превышающий семи рабочих дней со&nbsp;дня представления субъектом персональных данных или его представителем сведений, подтверждающих, что такие персональные данные являются незаконно полученными или не&nbsp;являются необходимыми для заявленной цели обработки, оператор обязан уничтожить такие персональные данные. Оператор обязан уведомить субъекта персональных данных или его представителя о&nbsp;внесенных изменениях и&nbsp;предпринятых мерах и&nbsp;принять разумные меры для уведомления третьих лиц, которым персональные данные этого субъекта были переданы.
    p 7.3. Пользователь имеет неограниченный доступ и&nbsp;право редактирования своих персональных данных в&nbsp;любое время через веб-интерфейс, предоставляемый Сервисом.
    p 7.4. Если субъект персональных данных считает, что оператор осуществляет обработку его персональных данных с&nbsp;нарушением требований настоящего Федерального закона или иным образом нарушает его права и&nbsp;свободы, субъект персональных данных вправе обжаловать действия или бездействие оператора в&nbsp;уполномоченный орган по&nbsp;защите прав субъектов персональных данных или в&nbsp;судебном порядке.

    h3 8. ОБРАЩЕНИЯ ПОЛЬЗОВАТЕЛЕЙ

    p 8.1. Пользователи вправе направлять Оператору свои запросы, в&nbsp;том числе запросы относительно использования их&nbsp;персональных данных, предусмотренные&nbsp;п.&nbsp;7.1. настоящего Положения, в&nbsp;письменной форме по&nbsp;адресу: РФ, 249034, Калужская область, г. Обнинск, проспект Ленина, д. 91Б, помещение 2&nbsp;или в&nbsp;форме электронного документа, подписанного квалифицированной электронной подписью в&nbsp;соответствии с&nbsp;законодательством Российской Федерации, по&nbsp;адресу электронной почты: support@dnk.bz.
    p 8.2. Запрос, направляемый Пользователем, должен содержать следующую информацию:
    ul
        li
            p имя
        li
            p фамилию
        li
            p адрес электронной почты
        li
            p подпись пользователя или его представителя.
    p 8.3. Оператор обязуется рассмотреть и&nbsp;направить ответ на&nbsp;поступивший запрос пользователя в&nbsp;течение 30&nbsp;дней с&nbsp;момента поступления обращения.
    p 8.4. Вся корреспонденция, полученная Оператором от&nbsp;Пользователей (обращения в&nbsp;письменной или электронной форме), относится к&nbsp;информации ограниченного доступа и&nbsp;не&nbsp;разглашается без письменного согласия Пользователя. Персональные данные и&nbsp;иная информация о&nbsp;Пользователе, направившем запрос, не&nbsp;могут быть без специального согласия Пользователя использованы иначе, как для ответа по&nbsp;теме полученного запроса или в&nbsp;случаях, прямо предусмотренных законодательством.

    h3 9. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ

    p 9.1. Сайт может содержать ссылки на&nbsp;другие интернет-ресурсы, которые действуют независимо от&nbsp;Оператора и&nbsp;не&nbsp;выступают от&nbsp;имени или по&nbsp;поручению Оператора. Пользователи обязаны самостоятельно ознакомиться с&nbsp;правилами оказания услуг и&nbsp;политикой защиты персональных данных таких третьих лиц до&nbsp;начала использования соответствующих сайтов (интернет-ресурсов). Действие настоящего Положения не&nbsp;распространяется на&nbsp;действия и&nbsp;интернет-ресурсы третьих лиц.
    p 9.2. Оператор обеспечивает неограниченный доступ к&nbsp;настоящему Положению, определяющему его политику в&nbsp;отношении обработки персональных данных, к&nbsp;сведениям о&nbsp;реализуемых требованиях к&nbsp;защите персональных данных путем публикации настоящих Правил в&nbsp;информационно-телекоммуникационной сети по&nbsp;сетевому адресу:
        =" "
        a(href="http://system.dnk.bz/#privacy") //system.dnk.bz/#privacy
        ="."
    p 9.3. Все вопросы, связанные с&nbsp;обработкой персональных данных, не&nbsp;урегулированные настоящим Положением, разрешаются в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации в&nbsp;области персональных данных.
    p * Если у&nbsp;Вас есть вопросы или предложения относительно Политики конфиденциальности, пожалуйста, напишите нам&nbsp;на:
        =" "
        a(href="") support@dnk.bz
        ="."