/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bg_glare_2_name = 'bg--glare-2';
$bg_glare_2_x = 0px;
$bg_glare_2_y = 2475px;
$bg_glare_2_offset_x = 0px;
$bg_glare_2_offset_y = -2475px;
$bg_glare_2_width = 1906px;
$bg_glare_2_height = 1225px;
$bg_glare_2_total_width = 5760px;
$bg_glare_2_total_height = 5141px;
$bg_glare_2_image = '../img/sprite-desktop.png';
$bg_glare_2 = 0px 2475px 0px -2475px 1906px 1225px 5760px 5141px '../img/sprite-desktop.png' 'bg--glare-2';
$bg_glare_name = 'bg--glare';
$bg_glare_x = 3840px;
$bg_glare_y = 1730px;
$bg_glare_offset_x = -3840px;
$bg_glare_offset_y = -1730px;
$bg_glare_width = 1920px;
$bg_glare_height = 729px;
$bg_glare_total_width = 5760px;
$bg_glare_total_height = 5141px;
$bg_glare_image = '../img/sprite-desktop.png';
$bg_glare = 3840px 1730px -3840px -1730px 1920px 729px 5760px 5141px '../img/sprite-desktop.png' 'bg--glare';
$bg_steps_name = 'bg--steps';
$bg_steps_x = 2744px;
$bg_steps_y = 1811px;
$bg_steps_offset_x = -2744px;
$bg_steps_offset_y = -1811px;
$bg_steps_width = 955px;
$bg_steps_height = 338px;
$bg_steps_total_width = 5760px;
$bg_steps_total_height = 5141px;
$bg_steps_image = '../img/sprite-desktop.png';
$bg_steps = 2744px 1811px -2744px -1811px 955px 338px 5760px 5141px '../img/sprite-desktop.png' 'bg--steps';
$bg_whirpool_2_name = 'bg--whirpool-2';
$bg_whirpool_2_x = 3840px;
$bg_whirpool_2_y = 0px;
$bg_whirpool_2_offset_x = -3840px;
$bg_whirpool_2_offset_y = 0px;
$bg_whirpool_2_width = 1920px;
$bg_whirpool_2_height = 1730px;
$bg_whirpool_2_total_width = 5760px;
$bg_whirpool_2_total_height = 5141px;
$bg_whirpool_2_image = '../img/sprite-desktop.png';
$bg_whirpool_2 = 3840px 0px -3840px 0px 1920px 1730px 5760px 5141px '../img/sprite-desktop.png' 'bg--whirpool-2';
$bg_whirpool_3_name = 'bg--whirpool-3';
$bg_whirpool_3_x = 0px;
$bg_whirpool_3_y = 0px;
$bg_whirpool_3_offset_x = 0px;
$bg_whirpool_3_offset_y = 0px;
$bg_whirpool_3_width = 1920px;
$bg_whirpool_3_height = 2475px;
$bg_whirpool_3_total_width = 5760px;
$bg_whirpool_3_total_height = 5141px;
$bg_whirpool_3_image = '../img/sprite-desktop.png';
$bg_whirpool_3 = 0px 0px 0px 0px 1920px 2475px 5760px 5141px '../img/sprite-desktop.png' 'bg--whirpool-3';
$bg_whirpool_name = 'bg--whirpool';
$bg_whirpool_x = 1920px;
$bg_whirpool_y = 0px;
$bg_whirpool_offset_x = -1920px;
$bg_whirpool_offset_y = 0px;
$bg_whirpool_width = 1920px;
$bg_whirpool_height = 1811px;
$bg_whirpool_total_width = 5760px;
$bg_whirpool_total_height = 5141px;
$bg_whirpool_image = '../img/sprite-desktop.png';
$bg_whirpool = 1920px 0px -1920px 0px 1920px 1811px 5760px 5141px '../img/sprite-desktop.png' 'bg--whirpool';
$decor_arrows_name = 'decor--arrows';
$decor_arrows_x = 626px;
$decor_arrows_y = 4260px;
$decor_arrows_offset_x = -626px;
$decor_arrows_offset_y = -4260px;
$decor_arrows_width = 302px;
$decor_arrows_height = 201px;
$decor_arrows_total_width = 5760px;
$decor_arrows_total_height = 5141px;
$decor_arrows_image = '../img/sprite-desktop.png';
$decor_arrows = 626px 4260px -626px -4260px 302px 201px 5760px 5141px '../img/sprite-desktop.png' 'decor--arrows';
$decor_arrows3_name = 'decor--arrows3';
$decor_arrows3_x = 324px;
$decor_arrows3_y = 4260px;
$decor_arrows3_offset_x = -324px;
$decor_arrows3_offset_y = -4260px;
$decor_arrows3_width = 302px;
$decor_arrows3_height = 253px;
$decor_arrows3_total_width = 5760px;
$decor_arrows3_total_height = 5141px;
$decor_arrows3_image = '../img/sprite-desktop.png';
$decor_arrows3 = 324px 4260px -324px -4260px 302px 253px 5760px 5141px '../img/sprite-desktop.png' 'decor--arrows3';
$decor_center_name = 'decor--center';
$decor_center_x = 3746px;
$decor_center_y = 3125px;
$decor_center_offset_x = -3746px;
$decor_center_offset_y = -3125px;
$decor_center_width = 634px;
$decor_center_height = 102px;
$decor_center_total_width = 5760px;
$decor_center_total_height = 5141px;
$decor_center_image = '../img/sprite-desktop.png';
$decor_center = 3746px 3125px -3746px -3125px 634px 102px 5760px 5141px '../img/sprite-desktop.png' 'decor--center';
$icon_arrow2_name = 'icon--arrow2';
$icon_arrow2_x = 3893px;
$icon_arrow2_y = 2459px;
$icon_arrow2_offset_x = -3893px;
$icon_arrow2_offset_y = -2459px;
$icon_arrow2_width = 16px;
$icon_arrow2_height = 5px;
$icon_arrow2_total_width = 5760px;
$icon_arrow2_total_height = 5141px;
$icon_arrow2_image = '../img/sprite-desktop.png';
$icon_arrow2 = 3893px 2459px -3893px -2459px 16px 5px 5760px 5141px '../img/sprite-desktop.png' 'icon--arrow2';
$icon_check_green_name = 'icon--check-green';
$icon_check_green_x = 3882px;
$icon_check_green_y = 2459px;
$icon_check_green_offset_x = -3882px;
$icon_check_green_offset_y = -2459px;
$icon_check_green_width = 11px;
$icon_check_green_height = 8px;
$icon_check_green_total_width = 5760px;
$icon_check_green_total_height = 5141px;
$icon_check_green_image = '../img/sprite-desktop.png';
$icon_check_green = 3882px 2459px -3882px -2459px 11px 8px 5760px 5141px '../img/sprite-desktop.png' 'icon--check-green';
$icon_check_name = 'icon--check';
$icon_check_x = 3871px;
$icon_check_y = 2459px;
$icon_check_offset_x = -3871px;
$icon_check_offset_y = -2459px;
$icon_check_width = 11px;
$icon_check_height = 8px;
$icon_check_total_width = 5760px;
$icon_check_total_height = 5141px;
$icon_check_image = '../img/sprite-desktop.png';
$icon_check = 3871px 2459px -3871px -2459px 11px 8px 5760px 5141px '../img/sprite-desktop.png' 'icon--check';
$icon_close_red_name = 'icon--close-red';
$icon_close_red_x = 3806px;
$icon_close_red_y = 1811px;
$icon_close_red_offset_x = -3806px;
$icon_close_red_offset_y = -1811px;
$icon_close_red_width = 8px;
$icon_close_red_height = 8px;
$icon_close_red_total_width = 5760px;
$icon_close_red_total_height = 5141px;
$icon_close_red_image = '../img/sprite-desktop.png';
$icon_close_red = 3806px 1811px -3806px -1811px 8px 8px 5760px 5141px '../img/sprite-desktop.png' 'icon--close-red';
$icon_close_name = 'icon--close';
$icon_close_x = 3857px;
$icon_close_y = 2459px;
$icon_close_offset_x = -3857px;
$icon_close_offset_y = -2459px;
$icon_close_width = 14px;
$icon_close_height = 14px;
$icon_close_total_width = 5760px;
$icon_close_total_height = 5141px;
$icon_close_image = '../img/sprite-desktop.png';
$icon_close = 3857px 2459px -3857px -2459px 14px 14px 5760px 5141px '../img/sprite-desktop.png' 'icon--close';
$icon_download_white_name = 'icon--download-white';
$icon_download_white_x = 3772px;
$icon_download_white_y = 1811px;
$icon_download_white_offset_x = -3772px;
$icon_download_white_offset_y = -1811px;
$icon_download_white_width = 17px;
$icon_download_white_height = 17px;
$icon_download_white_total_width = 5760px;
$icon_download_white_total_height = 5141px;
$icon_download_white_image = '../img/sprite-desktop.png';
$icon_download_white = 3772px 1811px -3772px -1811px 17px 17px 5760px 5141px '../img/sprite-desktop.png' 'icon--download-white';
$icon_download_name = 'icon--download';
$icon_download_x = 3789px;
$icon_download_y = 1811px;
$icon_download_offset_x = -3789px;
$icon_download_offset_y = -1811px;
$icon_download_width = 17px;
$icon_download_height = 17px;
$icon_download_total_width = 5760px;
$icon_download_total_height = 5141px;
$icon_download_image = '../img/sprite-desktop.png';
$icon_download = 3789px 1811px -3789px -1811px 17px 17px 5760px 5141px '../img/sprite-desktop.png' 'icon--download';
$icon_person_name = 'icon--person';
$icon_person_x = 3840px;
$icon_person_y = 2459px;
$icon_person_offset_x = -3840px;
$icon_person_offset_y = -2459px;
$icon_person_width = 17px;
$icon_person_height = 16px;
$icon_person_total_width = 5760px;
$icon_person_total_height = 5141px;
$icon_person_image = '../img/sprite-desktop.png';
$icon_person = 3840px 2459px -3840px -2459px 17px 16px 5760px 5141px '../img/sprite-desktop.png' 'icon--person';
$icon_stop_name = 'icon--stop';
$icon_stop_x = 0px;
$icon_stop_y = 4616px;
$icon_stop_offset_x = 0px;
$icon_stop_offset_y = -4616px;
$icon_stop_width = 266px;
$icon_stop_height = 270px;
$icon_stop_total_width = 5760px;
$icon_stop_total_height = 5141px;
$icon_stop_image = '../img/sprite-desktop.png';
$icon_stop = 0px 4616px 0px -4616px 266px 270px 5760px 5141px '../img/sprite-desktop.png' 'icon--stop';
$icon_video_name = 'icon--video';
$icon_video_x = 2191px;
$icon_video_y = 3955px;
$icon_video_offset_x = -2191px;
$icon_video_offset_y = -3955px;
$icon_video_width = 188px;
$icon_video_height = 192px;
$icon_video_total_width = 5760px;
$icon_video_total_height = 5141px;
$icon_video_image = '../img/sprite-desktop.png';
$icon_video = 2191px 3955px -2191px -3955px 188px 192px 5760px 5141px '../img/sprite-desktop.png' 'icon--video';
$img_150_name = 'img--150';
$img_150_x = 1276px;
$img_150_y = 3700px;
$img_150_offset_x = -1276px;
$img_150_offset_y = -3700px;
$img_150_width = 455px;
$img_150_height = 255px;
$img_150_total_width = 5760px;
$img_150_total_height = 5141px;
$img_150_image = '../img/sprite-desktop.png';
$img_150 = 1276px 3700px -1276px -3700px 455px 255px 5760px 5141px '../img/sprite-desktop.png' 'img--150';
$img_3_name = 'img--3';
$img_3_x = 0px;
$img_3_y = 4886px;
$img_3_offset_x = 0px;
$img_3_offset_y = -4886px;
$img_3_width = 174px;
$img_3_height = 255px;
$img_3_total_width = 5760px;
$img_3_total_height = 5141px;
$img_3_image = '../img/sprite-desktop.png';
$img_3 = 0px 4886px 0px -4886px 174px 255px 5760px 5141px '../img/sprite-desktop.png' 'img--3';
$img_95_name = 'img--95';
$img_95_x = 1276px;
$img_95_y = 3955px;
$img_95_offset_x = -1276px;
$img_95_offset_y = -3955px;
$img_95_width = 411px;
$img_95_height = 255px;
$img_95_total_width = 5760px;
$img_95_total_height = 5141px;
$img_95_image = '../img/sprite-desktop.png';
$img_95 = 1276px 3955px -1276px -3955px 411px 255px 5760px 5141px '../img/sprite-desktop.png' 'img--95';
$img_circle_name = 'img--circle';
$img_circle_x = 1906px;
$img_circle_y = 2813px;
$img_circle_offset_x = -1906px;
$img_circle_offset_y = -2813px;
$img_circle_width = 553px;
$img_circle_height = 573px;
$img_circle_total_width = 5760px;
$img_circle_total_height = 5141px;
$img_circle_image = '../img/sprite-desktop.png';
$img_circle = 1906px 2813px -1906px -2813px 553px 573px 5760px 5141px '../img/sprite-desktop.png' 'img--circle';
$img_conveer_title_name = 'img--conveer-title';
$img_conveer_title_x = 1687px;
$img_conveer_title_y = 3955px;
$img_conveer_title_offset_x = -1687px;
$img_conveer_title_offset_y = -3955px;
$img_conveer_title_width = 504px;
$img_conveer_title_height = 199px;
$img_conveer_title_total_width = 5760px;
$img_conveer_title_total_height = 5141px;
$img_conveer_title_image = '../img/sprite-desktop.png';
$img_conveer_title = 1687px 3955px -1687px -3955px 504px 199px 5760px 5141px '../img/sprite-desktop.png' 'img--conveer-title';
$img_conveer_name = 'img--conveer';
$img_conveer_x = 2459px;
$img_conveer_y = 2813px;
$img_conveer_offset_x = -2459px;
$img_conveer_offset_y = -2813px;
$img_conveer_width = 679px;
$img_conveer_height = 457px;
$img_conveer_total_width = 5760px;
$img_conveer_total_height = 5141px;
$img_conveer_image = '../img/sprite-desktop.png';
$img_conveer = 2459px 2813px -2459px -2813px 679px 457px 5760px 5141px '../img/sprite-desktop.png' 'img--conveer';
$img_igor_name = 'img--igor';
$img_igor_x = 324px;
$img_igor_y = 3700px;
$img_igor_offset_x = -324px;
$img_igor_offset_y = -3700px;
$img_igor_width = 465px;
$img_igor_height = 560px;
$img_igor_total_width = 5760px;
$img_igor_total_height = 5141px;
$img_igor_image = '../img/sprite-desktop.png';
$img_igor = 324px 3700px -324px -3700px 465px 560px 5760px 5141px '../img/sprite-desktop.png' 'img--igor';
$img_michail_name = 'img--michail';
$img_michail_x = 789px;
$img_michail_y = 3700px;
$img_michail_offset_x = -789px;
$img_michail_offset_y = -3700px;
$img_michail_width = 487px;
$img_michail_height = 523px;
$img_michail_total_width = 5760px;
$img_michail_total_height = 5141px;
$img_michail_image = '../img/sprite-desktop.png';
$img_michail = 789px 3700px -789px -3700px 487px 523px 5760px 5141px '../img/sprite-desktop.png' 'img--michail';
$img_pedestal_name = 'img--pedestal';
$img_pedestal_x = 1906px;
$img_pedestal_y = 2475px;
$img_pedestal_offset_x = -1906px;
$img_pedestal_offset_y = -2475px;
$img_pedestal_width = 955px;
$img_pedestal_height = 338px;
$img_pedestal_total_width = 5760px;
$img_pedestal_total_height = 5141px;
$img_pedestal_image = '../img/sprite-desktop.png';
$img_pedestal = 1906px 2475px -1906px -2475px 955px 338px 5760px 5141px '../img/sprite-desktop.png' 'img--pedestal';
$img_person_1_name = 'img--person-1';
$img_person_1_x = 498px;
$img_person_1_y = 4616px;
$img_person_1_offset_x = -498px;
$img_person_1_offset_y = -4616px;
$img_person_1_width = 221px;
$img_person_1_height = 215px;
$img_person_1_total_width = 5760px;
$img_person_1_total_height = 5141px;
$img_person_1_image = '../img/sprite-desktop.png';
$img_person_1 = 498px 4616px -498px -4616px 221px 215px 5760px 5141px '../img/sprite-desktop.png' 'img--person-1';
$img_person_2_name = 'img--person-2';
$img_person_2_x = 2875px;
$img_person_2_y = 3700px;
$img_person_2_offset_x = -2875px;
$img_person_2_offset_y = -3700px;
$img_person_2_width = 244px;
$img_person_2_height = 186px;
$img_person_2_total_width = 5760px;
$img_person_2_total_height = 5141px;
$img_person_2_image = '../img/sprite-desktop.png';
$img_person_2 = 2875px 3700px -2875px -3700px 244px 186px 5760px 5141px '../img/sprite-desktop.png' 'img--person-2';
$img_person_3_name = 'img--person-3';
$img_person_3_x = 266px;
$img_person_3_y = 4616px;
$img_person_3_offset_x = -266px;
$img_person_3_offset_y = -4616px;
$img_person_3_width = 232px;
$img_person_3_height = 253px;
$img_person_3_total_width = 5760px;
$img_person_3_total_height = 5141px;
$img_person_3_image = '../img/sprite-desktop.png';
$img_person_3 = 266px 4616px -266px -4616px 232px 253px 5760px 5141px '../img/sprite-desktop.png' 'img--person-3';
$img_wire_1_name = 'img--wire-1';
$img_wire_1_x = 2812px;
$img_wire_1_y = 3386px;
$img_wire_1_offset_x = -2812px;
$img_wire_1_offset_y = -3386px;
$img_wire_1_width = 750px;
$img_wire_1_height = 155px;
$img_wire_1_total_width = 5760px;
$img_wire_1_total_height = 5141px;
$img_wire_1_image = '../img/sprite-desktop.png';
$img_wire_1 = 2812px 3386px -2812px -3386px 750px 155px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-1';
$img_wire_10_name = 'img--wire-10';
$img_wire_10_x = 3746px;
$img_wire_10_y = 2813px;
$img_wire_10_offset_x = -3746px;
$img_wire_10_offset_y = -2813px;
$img_wire_10_width = 786px;
$img_wire_10_height = 312px;
$img_wire_10_total_width = 5760px;
$img_wire_10_total_height = 5141px;
$img_wire_10_image = '../img/sprite-desktop.png';
$img_wire_10 = 3746px 2813px -3746px -2813px 786px 312px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-10';
$img_wire_11_name = 'img--wire-11';
$img_wire_11_x = 1920px;
$img_wire_11_y = 1811px;
$img_wire_11_offset_x = -1920px;
$img_wire_11_offset_y = -1811px;
$img_wire_11_width = 824px;
$img_wire_11_height = 619px;
$img_wire_11_total_width = 5760px;
$img_wire_11_total_height = 5141px;
$img_wire_11_image = '../img/sprite-desktop.png';
$img_wire_11 = 1920px 1811px -1920px -1811px 824px 619px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-11';
$img_wire_12_name = 'img--wire-12';
$img_wire_12_x = 2305px;
$img_wire_12_y = 3700px;
$img_wire_12_offset_x = -2305px;
$img_wire_12_offset_y = -3700px;
$img_wire_12_width = 570px;
$img_wire_12_height = 187px;
$img_wire_12_total_width = 5760px;
$img_wire_12_total_height = 5141px;
$img_wire_12_image = '../img/sprite-desktop.png';
$img_wire_12 = 2305px 3700px -2305px -3700px 570px 187px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-12';
$img_wire_13_name = 'img--wire-13';
$img_wire_13_x = 1731px;
$img_wire_13_y = 3700px;
$img_wire_13_offset_x = -1731px;
$img_wire_13_offset_y = -3700px;
$img_wire_13_width = 574px;
$img_wire_13_height = 191px;
$img_wire_13_total_width = 5760px;
$img_wire_13_total_height = 5141px;
$img_wire_13_image = '../img/sprite-desktop.png';
$img_wire_13 = 1731px 3700px -1731px -3700px 574px 191px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-13';
$img_wire_14_name = 'img--wire-14';
$img_wire_14_x = 4532px;
$img_wire_14_y = 2813px;
$img_wire_14_offset_x = -4532px;
$img_wire_14_offset_y = -2813px;
$img_wire_14_width = 891px;
$img_wire_14_height = 173px;
$img_wire_14_total_width = 5760px;
$img_wire_14_total_height = 5141px;
$img_wire_14_image = '../img/sprite-desktop.png';
$img_wire_14 = 4532px 2813px -4532px -2813px 891px 173px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-14';
$img_wire_2_name = 'img--wire-2';
$img_wire_2_x = 4532px;
$img_wire_2_y = 2986px;
$img_wire_2_offset_x = -4532px;
$img_wire_2_offset_y = -2986px;
$img_wire_2_width = 726px;
$img_wire_2_height = 134px;
$img_wire_2_total_width = 5760px;
$img_wire_2_total_height = 5141px;
$img_wire_2_image = '../img/sprite-desktop.png';
$img_wire_2 = 4532px 2986px -4532px -2986px 726px 134px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-2';
$img_wire_3_name = 'img--wire-3';
$img_wire_3_x = 0px;
$img_wire_3_y = 3700px;
$img_wire_3_offset_x = 0px;
$img_wire_3_offset_y = -3700px;
$img_wire_3_width = 324px;
$img_wire_3_height = 916px;
$img_wire_3_total_width = 5760px;
$img_wire_3_total_height = 5141px;
$img_wire_3_image = '../img/sprite-desktop.png';
$img_wire_3 = 0px 3700px 0px -3700px 324px 916px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-3';
$img_wire_4_name = 'img--wire-4';
$img_wire_4_x = 3765px;
$img_wire_4_y = 2475px;
$img_wire_4_offset_x = -3765px;
$img_wire_4_offset_y = -2475px;
$img_wire_4_width = 912px;
$img_wire_4_height = 299px;
$img_wire_4_total_width = 5760px;
$img_wire_4_total_height = 5141px;
$img_wire_4_image = '../img/sprite-desktop.png';
$img_wire_4 = 3765px 2475px -3765px -2475px 912px 299px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-4';
$img_wire_5_name = 'img--wire-5';
$img_wire_5_x = 2861px;
$img_wire_5_y = 2475px;
$img_wire_5_offset_x = -2861px;
$img_wire_5_offset_y = -2475px;
$img_wire_5_width = 904px;
$img_wire_5_height = 313px;
$img_wire_5_total_width = 5760px;
$img_wire_5_total_height = 5141px;
$img_wire_5_image = '../img/sprite-desktop.png';
$img_wire_5 = 2861px 2475px -2861px -2475px 904px 313px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-5';
$img_wire_6_name = 'img--wire-6';
$img_wire_6_x = 4677px;
$img_wire_6_y = 2475px;
$img_wire_6_offset_x = -4677px;
$img_wire_6_offset_y = -2475px;
$img_wire_6_width = 1069px;
$img_wire_6_height = 173px;
$img_wire_6_total_width = 5760px;
$img_wire_6_total_height = 5141px;
$img_wire_6_image = '../img/sprite-desktop.png';
$img_wire_6 = 4677px 2475px -4677px -2475px 1069px 173px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-6';
$img_wire_7_name = 'img--wire-7';
$img_wire_7_x = 2744px;
$img_wire_7_y = 2149px;
$img_wire_7_offset_x = -2744px;
$img_wire_7_offset_y = -2149px;
$img_wire_7_width = 948px;
$img_wire_7_height = 208px;
$img_wire_7_total_width = 5760px;
$img_wire_7_total_height = 5141px;
$img_wire_7_image = '../img/sprite-desktop.png';
$img_wire_7 = 2744px 2149px -2744px -2149px 948px 208px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-7';
$img_wire_8_name = 'img--wire-8';
$img_wire_8_x = 4677px;
$img_wire_8_y = 2648px;
$img_wire_8_offset_x = -4677px;
$img_wire_8_offset_y = -2648px;
$img_wire_8_width = 946px;
$img_wire_8_height = 123px;
$img_wire_8_total_width = 5760px;
$img_wire_8_total_height = 5141px;
$img_wire_8_image = '../img/sprite-desktop.png';
$img_wire_8 = 4677px 2648px -4677px -2648px 946px 123px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-8';
$img_wire_9_name = 'img--wire-9';
$img_wire_9_x = 1906px;
$img_wire_9_y = 3386px;
$img_wire_9_offset_x = -1906px;
$img_wire_9_offset_y = -3386px;
$img_wire_9_width = 906px;
$img_wire_9_height = 156px;
$img_wire_9_total_width = 5760px;
$img_wire_9_total_height = 5141px;
$img_wire_9_image = '../img/sprite-desktop.png';
$img_wire_9 = 1906px 3386px -1906px -3386px 906px 156px 5760px 5141px '../img/sprite-desktop.png' 'img--wire-9';
$logo_header_name = 'logo--header';
$logo_header_x = 3699px;
$logo_header_y = 1811px;
$logo_header_offset_x = -3699px;
$logo_header_offset_y = -1811px;
$logo_header_width = 73px;
$logo_header_height = 52px;
$logo_header_total_width = 5760px;
$logo_header_total_height = 5141px;
$logo_header_image = '../img/sprite-desktop.png';
$logo_header = 3699px 1811px -3699px -1811px 73px 52px 5760px 5141px '../img/sprite-desktop.png' 'logo--header';
$mg_ilia_name = 'mg--ilia';
$mg_ilia_x = 3138px;
$mg_ilia_y = 2813px;
$mg_ilia_offset_x = -3138px;
$mg_ilia_offset_y = -2813px;
$mg_ilia_width = 608px;
$mg_ilia_height = 438px;
$mg_ilia_total_width = 5760px;
$mg_ilia_total_height = 5141px;
$mg_ilia_image = '../img/sprite-desktop.png';
$mg_ilia = 3138px 2813px -3138px -2813px 608px 438px 5760px 5141px '../img/sprite-desktop.png' 'mg--ilia';
$spritesheet_width = 5760px;
$spritesheet_height = 5141px;
$spritesheet_image = '../img/sprite-desktop.png';
$spritesheet_sprites = $bg_glare_2 $bg_glare $bg_steps $bg_whirpool_2 $bg_whirpool_3 $bg_whirpool $decor_arrows $decor_arrows3 $decor_center $icon_arrow2 $icon_check_green $icon_check $icon_close_red $icon_close $icon_download_white $icon_download $icon_person $icon_stop $icon_video $img_150 $img_3 $img_95 $img_circle $img_conveer_title $img_conveer $img_igor $img_michail $img_pedestal $img_person_1 $img_person_2 $img_person_3 $img_wire_1 $img_wire_10 $img_wire_11 $img_wire_12 $img_wire_13 $img_wire_14 $img_wire_2 $img_wire_3 $img_wire_4 $img_wire_5 $img_wire_6 $img_wire_7 $img_wire_8 $img_wire_9 $logo_header $mg_ilia;
$spritesheet = 5760px 5141px '../img/sprite-desktop.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
