block vars
    - var title='Title'

extends partials/layout-start

block content
    .hidden-block
        div(id="policy").popup.popup-text.policy
            h3 Политика конфиденциальности
            p.fs18 Данное соглашение об&nbsp;обработке персональных данных разработано в&nbsp;соответствии с&nbsp;законодательством Российской Федерации.
            p.fs18 Все лица заполнившие сведения, составляющие персональные данные на&nbsp;данном сайте, а&nbsp;также разместившие иную информацию обозначенными действиями подтверждают свое согласие на&nbsp;обработку персональных данных и&nbsp;их&nbsp;передачу оператору обработки персональных данных.
            p.fs18 Под персональными данными Гражданина понимается нижеуказанная информация: общая информация; посетители сайта направляют свои персональные данные.
            p.fs18 Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и&nbsp;полное согласие, что обработка их&nbsp;персональных данных может включать в&nbsp;себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
            p.fs18 Гражданин гарантирует: информация, им&nbsp;предоставленная, является полной, точной и&nbsp;достоверной; при предоставлении информации не&nbsp;нарушается действующее законодательство Российской Федерации, законные права и&nbsp;интересы третьих лиц; вся предоставленная информация заполнена Гражданина в&nbsp;отношении себя лично.


        include forms/form-call

        div(id="telegram").popup.popup-text
            img(src="img/icon-tg.png").icon-tg
            p Чтобы следить за развитием проетов Дмитрия, подпишись на инстаграм
                =" "
                a(href="https://www.instagram.com/kolmakov_dnk/" target="_blank") @kolmakov_dnk

        div(id="free").popup.free
            include forms/form-vebinar

    section.start
        .width-wrap
            h2 Внедрение командной системной работы
            h3  Корпоративный тренинг по построению дорожных карт и контроль их реализации
                i Посмотрите видео и выберите, что вас интересует

            a(data-fancybox="" href="https://www.youtube.com/watch?v=9i39T4tJEDM&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0").start-video
                img(src="img/img--video-transformator.jpg" alt /)

            ul.start-list.justifyed
                li
                    a(data-fancybox="modaltelegram" data-src="#telegram" href="javascript:;").fs18.btn Хочу следить за развитием бизнеса Дмитрия Портнягина
                li
                    a(data-fancybox="modalfree" data-src="#free" href="javascript:;").fs18.btn Хочу посмотреть вебинар "системная компания" с шансом выйграть 100 тыс.
                li
                    a(href="http://system.dnk.bz/").fs18.btn Я собственник (топ-менеджер), у нас проблема хаоса, хочу ее решить

    .psevdofooter

    footer.footer.inner
        .width-wrap.justifyed
            a(href="mailto:system@dnk.bz").footer-mail.fs16.fbook system@dnk.bz

            a(data-fancybox="modal-policy" data-src="#policy" href="javascript:;").fs16.fbook Политика конфиденциальности

            span.fs16.fbook Разработано club.dnk.bz

    include partials/mertika