@import 'partials/color';
@import 'partials/responsive';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/text';

// UI
@import 'ui/btn';
@import 'ui/form';
@import 'ui/input';
@import 'ui/spritedesktop';
@import 'ui/vendor/fancy';

// blocks
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/popup';

//pages
@import 'pages/pageIndex';