@font-face {
	font-family: 'FuturaNewLight';
	src: url('../fonts/Futura/FuturaNewLight/FuturaNewLight.eot');
	src: url('../fonts/Futura/FuturaNewLight/FuturaNewLight.woff') format('woff'),
    url('../fonts/Futura/FuturaNewLight/FuturaNewLight.ttf') format('truetype'),
    url('../fonts/Futura/FuturaNewLight/FuturaNewLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaNewBook';
	src: url('../fonts/Futura/FuturaNewBook/FuturaNewBook.eot');
	src: url('../fonts/Futura/FuturaNewBook/FuturaNewBook.woff') format('woff'),
    url('../fonts/Futura/FuturaNewBook/FuturaNewBook.ttf') format('truetype'),
    url('../fonts/Futura/FuturaNewBook/FuturaNewBook.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaNewMedium';
	src: url('../fonts/Futura/FuturaNewMedium/FuturaNewMedium.eot');
	src: url('../fonts/Futura/FuturaNewMedium/FuturaNewMedium.woff') format('woff'),
    url('../fonts/Futura/FuturaNewMedium/FuturaNewMedium.ttf') format('truetype'),
    url('../fonts/Futura/FuturaNewMedium/FuturaNewMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// font vars

$fFutura = FuturaNewBook, sans-serif
$fFutura_l = FuturaNewLight, sans-serif
$fFutura_m = FuturaNewMedium, sans-serif



