// Retina images mixin

img2x( imgpath, w, h )

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx)

        background-image url(imgpath)
        background-size w h

// Clearfix

cf()
    &:after
        content ""
        display table
        clear both
