a, p, span, li, input, time, blockquote, textarea
  font-family $fFutura_l
  font-size 24px
  line-height 30px
  text-decoration none
  color $cWhite
  letter-spacing 0

  @media sm
    font-size 16px
    line-height 22px

i
  display block
  font inherit
  font-style normal

small
  font inherit

*.fs18
  font-size 18px
  line-height 26px

  @media sm
    font-size 16px
    line-height 22px

*.fs16
  font-size 16px
  line-height 26px

*.fs12
  font-size 12px
  line-height 50px
  letter-spacing 0

*.fs14
  font-size 14px
  line-height 22px
  padding-bottom 25px
  letter-spacing 0

*.mb35
  margin-bottom 35px

*.fmedium
  font-family $fFutura_m
*.fbook
  font-family $fFutura

a
  cursor pointer

h1
  font-family $fLato
  color $cBlack
  font-size 48px
  line-height 73px
  text-align left
  display block
  font-weight bold

h2
  font-family $fFutura_m
  font-size 38px
  line-height 50px
  color $cWhite
  display block
  text-align center

  @media md
    font-size 34px
    line-height 46px

  @media sm
    font-size 26px
    line-height 30px

  i
    @media sm
      display inline

  i.small
    font-style italic
    margin-top 20px

    @media sm
      display block

h3
  display block
  text-align center
  font-family $fFutura_m
  color $cWhite
  font-size 24px
  line-height 35px

  @media sm
    font-size 16px
    line-height 26px

h4
  display block
  text-align center
  font-family $fFutura_m
  color #0c1752
  font-size 24px
  line-height 35px

  @media sm
    font-size 18px
    lihe-height 22px

