block vars

header.header
    .width-wrap.justifyed
        a(href="http://system.dnk.bz/").header--logo
            .header--logo-img

        span.header--btn Пора навести порядок

        .header--contacts
            a(href="tel:88005511801").header--contacts-phone 8 800 551-18-01
            a(data-fancybox="modal-header" data-src="#call" href="javascript:;").header--contacts-call Заказать звонок
