block vars

header.header
    .width-wrap.justifyed
        .header--logo
            .header--logo-img

        span.header--btn Пора навести порядок

        .header--contacts
            a(href="tel:88007074777").header--contacts-phone 8 800 707 47 77
            a(data-fancybox="modal-header" data-src="#call" href="javascript:;").header--contacts-call Заказать звонок
