block vars

header.header
    .width-wrap.justifyed
        .header--logo
            .header--logo-img

        a(href="#price").header--btn.js--page-scroll Пора навести порядок

        .header--contacts
            a(href="tel:88005511801").header--contacts-phone 8 800 551-18-01
            a(data-fancybox="modal-header" data-src="#call" href="javascript:;").header--contacts-call Заказать звонок
