doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Выигрываем конкретную борьбу за счёт внедрения системной работы в компании и команды
        meta(name="viewport" content="width=device-width")
        link(rel='icon' href='img/favicon.ico?v=11' type='image/x-icon')
        link(rel='stylesheet', href="css/style.css?v=116")

        script(src="js/app-common.js")
        script(src="js/app.js?v=117")

    include mixins

    body
        .page-wrap
            include header
            block content